/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: ExtraSquareMtavruli;
  src: url(../fonts/bpg_extrasquare_mtavruli_2009.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: GeorgianAreal;
  src: url(../fonts/bpg_arial_2009.ttf);
}
html body .container_1 {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
html body header {
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 1;
}
html body header div {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 10px;
}
@media (max-width: 730px) {
  html body header div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
html body header div img {
  max-width: 70px;
  margin-right: 32px;
  height: 80px;
  -ms-flex-item-align: center;
      align-self: center;
}
html body header div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 50px;
}
@media (max-width: 730px) {
  html body header div ul {
    display: none;
  }
}
html body header div ul a {
  color: rgb(0, 0, 0);
  font-family: GeorgianAreal;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
html body header div .burger_bar {
  display: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 35px;
}
@media (max-width: 730px) {
  html body header div .burger_bar {
    display: block;
  }
}
html body .s1 {
  position: relative;
  height: 648px;
}
html body .s1 img {
  width: 100%;
  height: 95%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  padding: 0 25px;
  top: 50%;
  margin-top: 80px;
  border-radius: 40px;
}
html body .s1 h2 {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: white;
  font-family: ExtraSquareMtavruli;
  font-size: 29px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
html body .s2 {
  margin-top: 100px;
}
html body .s2 h3 {
  color: black;
  font-family: GeorgianAreal;
  font-size: 29px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
html body .s2 p {
  margin: 30px 0;
}
html body .s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  overflow: scroll;
  white-space: nowrap;
}
html body .s3 .interactCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 340px;
  max-width: 350px;
  width: 100%;
  min-width: 350px;
  border: black 1px solid;
  background: #f3f2f2;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
html body .s3 .interactCard h2 {
  font-family: Oswald;
  font-size: 100px;
  margin-top: 60px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
html body .s3 .interactCard h4 {
  font-family: GeorgianAreal;
  font-size: 24px;
  margin-top: 60px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  width: 100%;
  text-wrap: wrap;
}
html body .s3 .interactCard p {
  -ms-flex-item-align: end;
      align-self: end;
  font-family: Oswald;
  font-size: 30px;
  margin-top: 60px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-right: 10px;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}
html body .s3 .interactCard:hover {
  -webkit-animation: out 1s forwards;
          animation: out 1s forwards;
}
@-webkit-keyframes in {
  from {
    background-color: #ffee0d;
    font-weight: 400;
  }
  to {
    background-color: white;
    font-weight: 200;
  }
}
@keyframes in {
  from {
    background-color: #ffee0d;
    font-weight: 400;
  }
  to {
    background-color: white;
    font-weight: 200;
  }
}
@-webkit-keyframes out {
  0% {
    background-color: white;
    font-weight: 200;
  }
  100% {
    background-color: #ffee0d;
    font-weight: 400;
  }
}
@keyframes out {
  0% {
    background-color: white;
    font-weight: 200;
  }
  100% {
    background-color: #ffee0d;
    font-weight: 400;
  }
}
html body footer {
  background-color: #eeeeee;
  padding-top: 20px;
  padding-bottom: 10px;
}
html body footer .pre_fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 860px) {
  html body footer .pre_fotter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
html body footer .pre_fotter .foot_s1 {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body footer .pre_fotter .foot_s1 img {
  width: 50px;
}
html body footer .pre_fotter .foot_s1 p {
  -ms-flex-item-align: end;
      align-self: end;
  font-family: GeorgianAreal;
  font-size: 25px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
}
html body footer .pre_fotter .foot_s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 625px) {
  html body footer .pre_fotter .foot_s2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
html body footer .pre_fotter .foot_s2 .links h5 {
  -ms-flex-item-align: end;
      align-self: end;
  font-family: ExtraSquareMtavruli;
  font-size: 20px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
  margin: 0 auto;
}
html body footer .pre_fotter .foot_s2 .links a {
  display: block;
  -ms-flex-item-align: end;
      align-self: end;
  font-family: ExtraSquareMtavruli;
  font-size: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: #000;
  margin-bottom: 5px;
  margin: 0 auto;
}
html body footer .pre_fotter .foot_s2 .links p {
  display: block;
  -ms-flex-item-align: end;
      align-self: end;
  font-family: ExtraSquareMtavruli;
  font-size: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  color: #000;
  margin-bottom: 3px;
  margin: 0 auto;
}
html body footer .pre_fotter .foot_s2 .links span {
  color: #000000;
}
html body footer .pre_fotter .foot_s2 .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
html body footer .pre_fotter .foot_s2 .media i {
  font-size: 30px;
  color: #000;
}/*# sourceMappingURL=global.css.map */