header {
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 1;

  div {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 92px;
    display: flex;
    min-width: 10px;
@media (max-width: 730px) {
        justify-content: space-between;
        
      }
    img {
      max-width: 70px;
      margin-right: 32px;
      height: 80px;
      align-self: center;
    }
    ul {
      display: flex;
      align-self: center;
      gap: 50px;
      @media (max-width: 730px) {
        display: none;
        
      }
      a {
        color: rgb(0, 0, 0);
        font-family: GeorgianAreal;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
      }
    }
    .burger_bar {
      display: none;
      height: min-content;
      align-self:  center;
      font-size: 35px;
      @media (max-width: 730px) {
        display: block;
        
      }
    }
  }
}
